#easter-egg-page {
  /* background: lightblue; */
  height: 100vh;
  width: 100vw;
  overflow: auto;
  padding: 10px;
  text-align: center;
}

#easter-egg-page .top-bar {
  display: flex;
}

#easter-egg-page .back-page {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  color: #333;
  margin-bottom: 5px;
}

#easter-egg-page .back-page svg {
  margin-right: 5px;
  font-size: 1.4em;
  transition: 0.5s;
}

#easter-egg-page .back-page:hover,
#easter-egg-page .container .music-control:hover {
  cursor: pointer;
}

#easter-egg-page .back-page:hover > svg,
#easter-egg-page .container .music-control:hover > svg {
  color: #03a9f4;
}

#easter-egg-page .container {
  display: flex;
  flex-direction: column;
}

#easter-egg-page .container img {
  max-height: calc(100vh - 160px);
}

#easter-egg-page .container span {
  margin-top: 15px;
}

#easter-egg-page .container .music-control svg {
  font-size: 2em;
  margin-top: 15px;
  transition: 0.5s;
}
