@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  scroll-behavior: smooth;
}

html, body, #root, #__next {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
}

:root {
  --black: #333;
  --black2: #333;
  --white: #fff;
  --white2: #fff;
  --button: #2196f3;
}

.dark {
  --black: #fff;
  --black2: #444;
  --white: #333;
  --white2: #444;
  --button: #2196f3;
}

::-webkit-scrollbar {
  width: 5px;
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--black); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--button); 
}

.ant-row {
  width: 100%;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background: var(--black2);
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn:hover {
  cursor: pointer;
  background: var(--button);
  color: #000;
}