.ant-modal {
  width: 90% !important;
  max-width: 1000px;
}

.ant-modal-content {
  background: var(--white);
}

.ant-modal-close-x {
  color: var(--black);
  transition: .5s;
}

.ant-modal-close-x:hover {
  color: var(--button);
}